# ----------------------------------------------------------------------------------#
#                                                                                   #
#   Copyright   (C) 2009 - 2024 Coozila! MIT License                                #
#   Coozila! Team    lab@coozila.com                                                #
#                                                                                   #
# ----------------------------------------------------------------------------------#

#   STACK SETTINGS    --------------------------------------------------------------#

#   External Private Network
# Driver and settings for the external private network for stack services.
#STACK_PRIVATE_DRIVER=bridge
#STACK_PRIVATE_SUBNET=172.16.0.0/16
#STACK_PRIVATE_GATEWAY=172.16.0.1

#   LOCAL LISTEN ADDR

# Local address for the application.
# This variable defines the local IP address that the application will listen on. 
# The default value is set to 127.0.0.1 (localhost), which means that the application 
# will only be accessible from within the host machine.
#
# If your application needs to be accessible from other machines or containers in 
# the network, you should set this variable to a different IP address, such as 
# the host machine's IP address or `0.0.0.0` to listen on all interfaces.
#
# Note: This variable applies to all containers in the cluster. If not explicitly set, 
# the default behavior is to use 127.0.0.1. Therefore, you do not need to set a different 
# value unless you require a specific configuration for network accessibility.
#
# Examples:
# 1. Default setting (accessible only from the host):
#    LOCAL_LISTEN_ADDR=127.0.0.1
#
# 2. To allow access from any IP address (not recommended for production without security):
#    LOCAL_LISTEN_ADDR=0.0.0.0
#
# 3. To specify a local IP address of the host machine:
#    LOCAL_LISTEN_ADDR=192.168.1.100  # Example IP address
LOCAL_LISTEN_ADDR=127.0.0.1

# ----------------------------------------------------------------------------------#

#   MEMCACHED SETTINGS    ----------------------------------------------------------#

#MEMCACHED_SERVER_VERSION=latest

#   MEMCACHED PRIVATE NETWORK
# Driver and settings for the internal private network for Memcached services.
#MEMCACHED_PRIVATE_DRIVER=bridge
#MEMCACHED_PRIVATE_SUBNET=172.16.250.0/24
#MEMCACHED_PRIVATE_GATEWAY=172.16.250.1


#   MEMCACHED MEMLOCK SETUP
#
# Set the memlock limit for the Memcached instance.
# This variable controls the maximum amount of memory that Memcached can lock into RAM, 
# preventing it from being swapped out to disk. Properly configuring this setting can 
# help improve performance by ensuring that frequently accessed data remains in memory.
#
#   Examples:
#   1. To allow Memcached to lock an unlimited amount of memory, set:
#    MEMCACHED_MEMLOCK=-1
#
#   2. To set specific limits, you can use the following values:
#    - 512MB:   MEMCACHED_MEMLOCK=536870912  # (512 * 1024 * 1024 bytes)
#    - 1GB:     MEMCACHED_MEMLOCK=1073741824 # (1 * 1024 * 1024 * 1024 bytes)
#    - 2GB:     MEMCACHED_MEMLOCK=2147483648 # (2 * 1024 * 1024 * 1024 bytes)
#    - 4GB:     MEMCACHED_MEMLOCK=4294967296 # (4 * 1024 * 1024 * 1024 bytes)
#    - 8GB:     MEMCACHED_MEMLOCK=8589934592 # (8 * 1024 * 1024 * 1024 bytes)
#    - 16GB:    MEMCACHED_MEMLOCK=17179869184 # (16 * 1024 * 1024 * 1024 bytes)
#    - 32GB:    MEMCACHED_MEMLOCK=34359738368 # (32 * 1024 * 1024 * 1024 bytes)
#    - 64GB:    MEMCACHED_MEMLOCK=68719476736 # (64 * 1024 * 1024 * 1024 bytes)
#    - 128GB:   MEMCACHED_MEMLOCK=137438953472 # (128 * 1024 * 1024 * 1024 bytes)
#
#   Note: Ensure that your system's configuration allows for the specified memlock limit.
#   You may need to adjust system limits in /etc/security/limits.conf or use ulimit commands.
MEMCACHED_MEMLOCK=-1

#   MEMCACHED HOSTNAMES
# Set the hostname for the Memcached instance.
# Default: localhost
# Examples:
# 1. Using localhost:
#    MEMCACHED_HOSTNAME=localhost
# 2. Using a subdomain:
#    MEMCACHED_HOSTNAME=memcached1.example.com
MEMCACHED_HOSTNAME=localhost

# ----------------------------------------------------------------------------------#

#   MCROUTER SETTINGS    -----------------------------------------------------------#


#   MCROUTER PRIVATE NETWORK

# Driver and settings for the internal private network for McRouter services.
#MCROUTER_PRIVATE_DRIVER=bridge

#   MCROUTER SERVER VERSION
# Version of the McRouter image to use.
MCROUTER_VERSION=40.0.0

#   MCROUTER HOSTNAMES
# Default service names for McRouter instances.
# Examples:
# 1. First instance:
#    MCROUTER1_HOSTNAME=mcrouter1
# 2. Second instance:
#    MCROUTER2_HOSTNAME=mcrouter2
# 3. Third instance:
#    MCROUTER3_HOSTNAME=mcrouter3
# 4. Using a hostname or subdomain:
#    MCROUTER1_HOSTNAME=mcrouter1.example.com  # Subdomain pointing to a McRouter server
#MCROUTER_HOSTNAME=localhost
#MCROUTER1_HOSTNAME=mcrouter1
#MCROUTER2_HOSTNAME=mcrouter2
#MCROUTER3_HOSTNAME=mcrouter3

# ----------------------------------------------------------------------------------#
